<div class='an-native-ad img-overlay'>
    <div class='an-native-overlay-content'>
        <header class='an-native-headline'>{{title}}</header>
        <div class='an-native-sponsor-wrapper'>
            <span class='an-native-sponsor-label'>Sponsored by:</span> <span class='an-native-sponsor'>{{sponsor}}</span>
        </div>
        <a href='https://frinkiac.com/episode/S07E11/123339' class='an-native-cta' target='_blank' title='...or go to hell!'>
            {{ctaText}}
        </a>
        <img class='an-native-logo' src='{{iconSrc}}' width='80px'/>
    </div>
    <img class='an-native-img' src='{{imgSrc}}' width='320' height='240' />
</div>