<div class="an-native-ad stacked stacked-text" {{stylr style.ad.root style.ad.stacked}}>
    <header class="an-native-headline" {{stylr style.headline}}>{{title}}</header>
    <div class="an-native-body" {{stylr style.body}}>
        {{body}}
    </div>
    <div class="an-native-sponsor-wrapper" {{stylr style.sponsorWrapper}}>
        <span class="an-native-sponsor-label" {{stylr style.sponsorLabel}}>Sponsored by:</span> <span class="an-native-sponsor">{{sponsor}}</span>
    </div>
</div>