<div class="an-native-ad img-left video-instream" {{stylr style.ad.root}}>
    <!--<a href="{{clickUrl}}" target="_blank">-->
        <!-- <img class="an-native-img" src="{{imgSrc}}" width="160" height="120" /> -->
        <!-- replace with a video at some point -->
        <video class="an-native-img" poster="{{imgSrc}}" width="200" height="150" autoplay loop {{stylr style.imgLeft.img}}>
            <source src="{{videoSrc}}" type="video/webm"></source>
        </video>
    </a>
    <div class="an-native-rhs">
        <header class="an-native-headline" {{stylr style.headline}}>{{title}}</header>
        <div class="an-native-sponsor-wrapper" {{stylr style.sponsorWrapper}}>
            <span class="an-native-sponsor-label" {{stylr style.sponsorLabel}}>Sponsored by:</span> <span class="an-native-sponsor">{{sponsor}}</span>
        </div>
    </div>
</div>