<div class="an-native-ad img-left video-instream">
    <!--<a href="{{clickUrl}}" target="_blank">-->
        <!-- <img class="an-native-img" src="{{imgSrc}}" width="160" height="120" /> -->
        <!-- replace with a video at some point -->
        <video class="an-native-img" poster="{{imgSrc}}" width="160" height="120" autoplay loop>
            <source src="{{videoSrc}}" type="video/webm"></source>
        </video>
    </a>
    <div class="an-native-rhs">
        <header class="an-native-headline">{{title}}</header>
        <div class="an-native-sponsor-wrapper">
            <span class="an-native-sponsor-label">Sponsored by:</span> <span class="an-native-sponsor">{{sponsor}}</span>
        </div>
    </div>
</div>