<div class="an-native-ad stacked modal-video" {{stylr style.ad.root}}>
    <a class="an-native-modal-link" href="#">
        <img class="an-native-img" src="{{imgSrc}}" width="200" height="150" /> 
    </a>
    <header class="an-native-headline" {{stylr style.headline}}>{{title}}</header>
    <div class="an-native-sponsor-wrapper" {{stylr style.sponsorWrapper}}>
        <span class="an-native-sponsor-label" {{stylr style.sponsorLabel}}>Sponsored by:</span> <span class="an-native-sponsor">{{sponsor}}</span>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // code that actually makes the modal go
        });
    </script>
</div>